*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
} 
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'TTNorms';
	font-size: 16px; 
	line-height: 24px;
	font-variant-ligatures: no-common-ligatures;
	color: #414141;
	overflow-x: hidden;
	margin: 0;
	background-color: #fff; 
}
button { 
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}
.billbord {
	color: #fff;
	background-image: url(../img/billbord1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title-big {
	font-size: 60px;
	line-height: 84px;
	margin-bottom: 30px;
	font-weight: 900;
	text-transform: uppercase;
}
.descr-page {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
}
.descr-page sup {
	font-size: 10px;
	line-height: 0;
}
.marker {
	font-size: 20px;
	font-weight: 500;
	display: flex;
	align-items: center;
}
.marker img {
	margin-right: 21px;
}
.billbord .marker {
	margin-bottom: 40px;
}
.buttons-billbord {
	margin-top: 98px;
	display: flex;
	align-items: center;
}
.btn-main {
	height: 70px;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.15em;
	padding: 0 26px;
	text-transform: uppercase;
	font-weight: 500;
	color: #FFFFFF;
	border-radius: 50px;
	background-color: #1888D5;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: 'TTNorms';
	border: none;
}
.btn-main:hover {
	background-color: #016fbb;
}
.btn-main_page {
	background-color: #79C44C;
}
.btn-main_page:hover {
	background-color: #63b035;
}
.buttons-billbord .btn-main {
	margin-right: 25px;
}

.about {
	background: rgba(241, 245, 246, 0.3);
}
.tabs {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #414141;
}
.tabs a {
	padding: 18px 0;
	line-height: 19px;
	color: #414141;
	font-weight: 500;
	display: inline-block;
	position: relative;
}
.tabs a::after {
	position: absolute;
	display: block;
	content: " ";
	width: 14px;
	height: 9px;
	top: 100%;
	left: 0;
	right: 0;
	opacity: 0;
	margin: 0 auto;
	margin-top: -1px;
	background-color: #fff;
	transition: all 0.3s;
	background-image: url(../img/triangle.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 9px;
}
.tabs a:hover,
.tabs .active a {
	color: #065799;
}
.tabs .active a::after {
	opacity: 1;
}
.slider-images__item {
	height: 500px;
	display: block;
	width: 100%;
}
.slider-images__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slick-arrow {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.06);
	background-color: #fff;
	font-size: 20px !important;
	top: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #065799 !important;
	transition: all 0.3s;
}
.slick-arrow:hover {
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}
.slick-arrow::before {
	display: none;
} 
.slick-prev {
	left: -20px;
}
.slick-next {
	right: -20px;
}
.text-about {
	padding: 32px 50px;
	padding-right: 20px;
	padding-bottom: 13px;
	margin: 0 87px;
	margin-top: -65px;
	background: #FFFFFF;
	box-shadow: 0px 10px 15px rgba(202, 219, 227, 0.2);
	position: relative;
	z-index: 2;
}
.text-about p {
	margin-bottom: 20px;
}
.item-about {
	margin-bottom: 50px;
	padding-left: 50px;
	position: relative;
}
.item-about:last-child {
	margin-bottom: 0 !important;
}
.item-about__title {
	margin-bottom: 6px;
	font-weight: 500;
}
.item-about p {
	color: #666666;
}
.item-about p strong {
	font-weight: 500;
}
.item-about__icon {
	top: 0;
	left: 0;
	position: absolute;
}

.header {
	padding: 12px 85px;
	padding-right: 329px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	background-color: #065799;
	color: #fff;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}
.menu > li > a {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;
	color: #fff;
	border-bottom: 1px solid transparent;
}
.menu > li > a:hover {
color: #79C34C;
}
.contacts-call {
	display: flex;
	align-items: center;
}
.btn-call {
	width: 44px;
	height: 44px;
	background-color: #79C34C;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-call:hover {
	background-color: #63b035;
}
.phone-main {
	font-size: 18px;
	line-height: 21px;
	font-weight: 700;
	color: #fff;
	display: inline-block;
}
.contacts-call .btn-call {
	margin-right: 19px;
}
.header__wrap {
	display: flex;
	align-items: center;
}
.header__wrap .contacts-call  {
	margin-right: 50px;
}
.sidebar {
	width: 285px;
	padding: 35px 30px;
	height: 100%;
	text-align: center;
	position: fixed;
	top: 0;
	right: 0;
	background: #CADBE3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	z-index: 1001;
}
.logo {
	margin-bottom: 25px;
	display: inline-block;
}
.logo img {
	max-width: 100%;
	height: auto;
}
.logo-descr {
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	color: #004778;
}
.slider-sidebar {
	padding-bottom: 25px;
}
.slider-sidebar__title {
	font-weight: 500;
	font-size: 14px;
	margin-bottom: 11px;
	display: block;
	text-align: center;
	color: #004778;
}
.slider-sidebar__image {
	height: 150px;
	display: block;
	border-radius: 15px;
	position: relative;
}
.slider-sidebar__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-sidebar__image.fancybox.fancybox::after {
	position: absolute;
	display: block;
	content: " ";
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-image: url(../img/play.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 7px;
	height: 7px;
}
.slick-dots li button {
	width: 7px;
	height: 7px;
	background-color: #004778;
	border-radius: 50%;
	padding: 0;
	border: none;
	transition: all 0.3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: #fff;
}
.sidebar__center {
	min-width: 0px;
	width: 100%;
}
.sidebar__contacts {
	margin: 0 -17px;
	line-height: 21px;
	font-weight: 500;
	color: #004778;
}
.social-list {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.social-list a {
	width: 44px;
	height: 44px;
	margin: 0 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: rgba(241, 245, 246, 0.5);
}
.social-list a:hover {
	background: rgba(255, 255, 255, 1);
}
.sidebar__bottom .social-list {
	margin-bottom: 38px;
}
.section {
	padding-right: 170px;
}
.fp-tableCell {
	padding-top: 30px;
	position: relative;
}
.title-section {
	font-size: 48px;
	line-height: 67px;
	font-weight: 500;
}
.title-section span {
	text-transform: uppercase;
}
.consultation .title-section {
	margin-right: -380px;
	margin-bottom: 55px;
}
.image-consultation img {
}
.image-consultation {
	height: 550px;
	position: relative;
}
.image-form img,
.image-consultation img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.consultation__left {
	position: relative;
	z-index: 2;
}
.image-form {
	height: 238px;
	display: block;
}
.consultation__top {
	margin-bottom: 53px;
}
.title-block {
	font-size: 30px;
	line-height: 45px;
	font-weight: 500;
}
.consultation .descr-page {
	padding-top: 7px;
	padding-bottom: 16px;
	font-weight: 400;
}
.choose-btn {
	bottom: 43px;
	left: 79px;
	padding: 5px;
	padding-right: 25px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	color: #414141;
	display: inline-flex;
	align-items: center;
	background: #FFFFFF;
	border-radius: 50px;
	position: absolute;
}
.choose-btn__image {
	width: 60px;
	height: 60px;
	margin-right: 21px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.choose-btn__image img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-form input {
	height: 70px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	padding-top: 10px;
	color: #414141;
	width: 100%;
	border: none;
	border-bottom: 1px solid #414141;
	background-color: transparent;
	font-family: 'Google Sans';
}
.col-btn {
	padding: 0 15px;
}
.col-btn .btn-main {
	padding: 0 30px;
	white-space: nowrap;
}
.list-partners {
	display: flex;
	align-items: center;
}
.list-partners li {
	margin-right: 60px;
}
.list-partners li:last-child {
	margin-right: 0;
}
.conditions .title-section {
	margin-bottom: 45px;
	max-width: 1016px;
}
.conditions .list-partners  {
	margin-bottom: 60px;
}
.conditions-unit {
	height: 534px;
	padding: 43px;
	padding-bottom: 34px;
	font-size: 20px;
	line-height: 30px;
	background: #FFFFFF;
	box-shadow: 0px 10px 15px rgba(202, 219, 227, 0.2);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	z-index: 1;
}
.conditions-unit p {
	color: #666;
}
.conditions-unit__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}
.conditions-unit__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.conditions-unit__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 205px;
	top: 0;
	left: 0;
	top: 75px;
	background: linear-gradient(180deg, #FFFFFF 24.02%, rgba(255, 255, 255, 0) 100%);
}
.conditions-unit .title-block {
	margin-bottom: 17px;
}
.conditions {
	background: rgba(241, 245, 246, 0.3);
}
.btn-simple {
	height: 46px;
	padding: 0 23px;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.15em;
	background-color: #fff;
	border-radius: 50px;
	text-transform: uppercase;
	color: #414141;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: none;
}
.btn-simple:hover {
	background-color: #ede7e7;
}
.conditions-unit .btn-simple {
	margin-top: auto;
}
.row_conditions {
	margin: 0 -35px;
}
.row_conditions > div {
	padding: 0 35px;
}
.slider-wrapper {
	position: relative;
}
.slider-for__item {
	height: 70vh;
	position: relative;
	display: block;
}
.slider-nav__item img,
.slider-for__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.slider-nav__item:hover img {
	transform: scale(1.05);
}
.gallery .title-section {
	padding-bottom: 35px;
}
.slider-nav {
	right: 30px;
	bottom: 30px;
	width: 100%;
	max-width: 50%;
	position: absolute;
}
.slider-nav__item {
	height: 110px;
	margin-left: 20px;
	overflow: hidden;
	display: block;
	cursor: pointer;
}
.icon-play {
	width: 96px;
	height: 96px;
	top: 60px;
	right: 60px;
	color: #94DB69;
	font-size: 30px;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	background-image: url(../img/play2.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.slider-sidebar__image.fancybox.fancybox:hover::after,
.icon-play:hover {
transform: scale(1.1)
}
.icon-play::before {
	position: absolute;
	display: block;
	content: " ";
	width: 137px;
	height: 140px;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 50%;
	transform: translate(-50%);
	background-image: url(../img/play_text.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.footer {
	font-size: 15px;
	line-height: 24px;
	background-color: #2B3747;
	color: #fff;
	position: relative;
}
.footer-bottom {
	font-size: 14px;
	line-height: 21px;
	color: #9D9E9E;
	padding: 15px 0;
	border-top: 1px solid #9D9E9E;
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 100%;
	font-family: 'Google Sans';
}
.footer-bottom a {
	color: #9D9E9E;
}
.footer-bottom a:hover {
	color: #fff;
}
.create {
	display: flex;
	align-items: center;
	justify-content: center;
}
.create a {
	margin-left: 15px;
}
.footer__nav_big,
.footer__title {
	margin-bottom: 25px;
	font-weight: 700;
	font-size: 18px;
	line-height: 21px;
}
.footer__nav a {
	color: #fff;
	border-bottom: 1px solid transparent;
}
.footer__nav a:hover {
	border-color: #fff;
}
.footer__nav li {
	margin-bottom: 15px;
}
.footer__nav_big {
	margin: 0;
}
.footer__nav_big li {
	margin-bottom: 25px;
}
.footer p strong {
	font-weight: 500;
}
.footer-logo {
	margin-bottom: 90px;
	display: flex;
	align-items: flex-end;
}
.footer-logo::before,
.footer-logo::after {
	position: relative;
	display: block;
	content: " ";
	height: 1px;
	flex: 1;
	background-color: #fff;
}
.footer-logo .logo {
	margin: 0 50px;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.footer__title i {
	display: none;
}
.header__wrap .logo {
	display: none;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 34px;
	height: 34px;
	padding-top: 8px;
	border-radius: 50%;
	    background-color: #79C34C;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items:center;
	display: none;
	z-index: 20;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 10px;
	height:  1px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	/* transition-delay: 0.2s, 0s; */
}
.sw-bottom {
	position: relative;
	top: 7.5px;
	width: 10px;
	height:  1px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
	transition-delay: 0.2s, 0s;
}
.sw-footer {
	position: relative;
	top: 11px;
	width: 10px;
	height:  1px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: all 0.5s;
	transition-delay: 0.1s;
}

.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 7px;
	transform: rotate(-45deg); 
}
.menu-dropdown {
	top: 100%;
	left: 0;
	width: 100%;
	height: calc(100vh - 68px);
	padding-right: 100px;
	background: #065799;
	color: #fff;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
		opacity: 0;
	visibility: hidden;
	transition: all 0.1s;
}
.menu > li:hover .menu-dropdown {
	visibility: visible;
	opacity: 1;
}
.image-menu {
	height: 70vh;
	display: block;
	width: 100%;
}
.image-menu img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.menu-dropdown ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.menu-dropdown ul li {
	flex: 1;
	display: flex;
}
.menu-dropdown ul li a {
	font-size: 40px;
line-height: 64px;
border-bottom: 1px solid rgba(202, 219, 227, 0.2);
text-transform: uppercase;
display: flex;
width: 100%;
align-items: center;
color: #FFFFFF;
}
.menu-dropdown ul li a:hover {
color: #79C34C;
}
.menu__haschild > a::after {
	font-size: 12px;
	margin-left: 10px;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	content: "\f078";
	top: 0px;
	position: relative;
	transition: all 0.3s;
}
.menu__haschild:hover > a::after {
	transform: rotate(180deg);
}
.title-page {
	font-size: 30px;
	line-height: 45px;
	font-weight: 500;
}
.about-page .title-page {
	margin-bottom: 42px;
}
.wrapper_page {
	padding-top: 68px;
}
.breadcrumbs {
	font-size: 14px;
	line-height: 20px;
	padding-top: 17px;
	padding-bottom: 25px;
	color: #666666;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.breadcrumbs a {
	color: #666;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	color: #000;
	border-color: #000;
}
.breadcrumbs li::after {
	content: "•";
	margin: 0 10px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.wrapper_page .footer {
	padding-top: 60px;
}
.wrapper_page .footer-bottom {
	margin-top: 60px;
	position: relative;
}
.wrapper_page .footer-logo {
	margin-bottom: 90px;
}
.nav-site {
	background-color: #065799;
}
.nav-site a {
	line-height: 29px;
	padding: 15px 29px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	display: block;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
}
.nav-site li:last-child a {
	border: none;
}
.nav-site a:hover,
.nav-site .active a {
	background-color: #1888D5;
}
.left__section {
	max-width: 250px;
}
.right__section {
	max-width: 100%;
    flex: 1;
}
.about-block {
	padding: 30px 35px;
	margin-bottom: 50px;
	background: rgba(202, 219, 227, 0.2);
}
.bottom-about p,
.about-block p {
	margin-bottom: 20px;
}
.image-about img,
.bottom-about img {
max-width: 100%;
}
.bottom-about strong,
.about-block strong {
	font-weight: 500;
}
.about-block__bottom {
	max-width: 416px;
	color: #000;
}
.about-block__bottom strong {
	font-size: 18px;
	font-weight: 500;
}
.section-inner {
	font-size: 16px;
	line-height: 24px;
}
.title-middle {
	font-size: 32px;
	line-height: 42px;
	font-weight: 500;
}
.about-page .title-middle {
	margin-bottom: 26px;
}
.image-bottom {
	margin-top: -180px;
}
.image-bottom img {
	max-width: 100%;
}
.about-page {
	padding-bottom: 85px;
}
.about-page .title-page {
	max-width: 756px;
}
.btn-nav {
	display: none;
}
.item-portfolio__image {
	margin-bottom: 15px;
	height: 300px;
	display: block;
}
.item-portfolio__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-portfolio__descr {
	margin-bottom: 16px;
	display: block;
}
.item-portfolio__name {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
	display: block;
}
.item-portfolio {
	padding-bottom: 32px;
	margin-bottom: 32px;
	border-bottom: 1px solid #414141;
	text-align: center;
}
.questions .title-page,
.reviews .title-page,
.portfolio .title-page {
	padding-bottom: 22px;
}
.portfolio {
	padding-bottom: 32px;
}
.item-review {
	padding: 40px;
	padding-top: 22px;
	border-bottom: 1px solid #414141;
}
.item-review__date {
	padding-bottom: 13px;
	margin-bottom: 10px;
	padding-right: 13px;
	border-bottom: 1px solid #CADBE3;
	display: inline-block;
}
.item-review__title {
	font-size: 24px;
	line-height: 33px;
	margin-bottom: 27px;
	font-weight: 500;
	display: block;
}
.item-review:nth-child(odd) {
	background-color: rgba(202, 219, 227, 0.2);
}
.item-review:first-child {
	border-top: 1px solid #414141;
}
.reviews {
	padding-bottom: 47px;
}
.pager {
	height: 40px;
	margin-top: 47px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.page-numbers {
	color: #4F4F4F;
	margin: 0 50px;
	transition: all 0.3s;
}
.page-numbers.current {
	font-weight: 700;
}
.page-numbers:not(.dots):hover {
	color: #065799;
}
.prev.page-numbers,
.next.page-numbers {
	font-size: 22px;
	width: 40px;
	height: 40px;
	color: #065799;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.06);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0;
	margin: 0;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	color: #fff;
	background-color: #065799;
}
.next.page-numbers {
	right: 0;
	left: auto;
}
.questions {
	padding-bottom: 32px;
}
.item-question__head {
	font-size: 24px;
	line-height: 36px;
	padding: 25px 20px;
	padding-left: 34px;
	font-weight: 500;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-question__head i {
	width: 40px;
height: 40px;
font-size: 16px;
padding-top: 5px;
margin-left: 20px;
color: #065799;
display: flex;
align-items: center;
border-radius: 50%;
justify-content: center;
flex: none;
background-color: #F4F8F9;
box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.06);
transition: all 0.3s;
}
.item-question.active .item-question__head i {
	transform: rotate(180deg);
	box-shadow: 0px -6px 6px rgba(0, 0, 0, 0.06);
}
.item-question {
	transition: all 0.3s;
	border-bottom: 1px solid #414141;
}
.item-question:first-child {
	border-top: 1px solid #414141;
}
.item-question__content {
	padding: 34px;
	padding-bottom: 30px;
	padding-right: 52px;
	padding-top: 0;
	display: none;
}
.item-question__content li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
}
.item-question__content li {
	padding-left: 15px;
	position: relative;
}
.item-question.active {
	background-color:  rgba(202, 219, 227, 0.2);
}
.questions-wrap {
	margin-bottom: 34px;
}
.form-page {
	padding: 43px 99px;
	background-color: rgba(202, 219, 227, 0.2);
}
.form-page .title-page {
	padding-bottom: 7px;
}
.descr-form {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 25px;
	color: #666666;
}
.form-page .btn-main {
	min-width: 210px;
	margin-bottom: 20px;
}
.form-page .item-form {
	margin-bottom: 10px;
}
.checkbox {
	font-size: 12px;
	line-height: 15px;
	color: #AFAFAF;
	margin-top: 20px;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 6px 0 0 30px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 0;
	width: 19px;
	height: 19px;
border: 1px solid #AFAFAF;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 0px;
	width: 19px;
	height: 19px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	background-image: none;
	color: #AFAFAF;
	font-size: 9px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}
.modal-block {
	display: none;
}
.modal-wrap {
	padding: 43px 50px;
	padding-bottom: 35px;
	width: 702px;
	max-width: 100%;
	margin: 0 auto;
	background-color: #fff;
}
.fancybox-skin {
    padding: 0 !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.fancybox-close {
    top: 12px;
    right: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    font-size: 22px;
    color: #354954;
    background-image: none !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 300;
    font-family: "Font Awesome 5 Pro";
}
.fancybox-close::before {
    content: "\f00d";
}
.fancybox-inner {
    overflow: visible !important;
}
.modal-wrap .title-page {
	padding-bottom: 7px;
	text-align: center;
}
.modal-wrap .descr-form {
	margin-bottom: 7px;
	text-align: center;
}
.modal-wrap .item-form {
	margin-bottom: 10px;
}
.bottom-form {
	padding-top: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal-wrap .btn-main {
	padding: 0 29px;
}
.fancybox-overlay {
	background-image: none;
	background: rgba(2, 39, 64, 0.6);
}
.title-small {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
}
.documents .title-small {
	margin-bottom: 35px;
	max-width: 815px;
}
.documents .title-page {
	margin-bottom: 30px;
}
.item-doc {
	font-size: 20px;
	line-height: 30px;
	padding: 20px;
	color: #414141;
	font-weight: 500;
	border-bottom: 1px solid #414141;
	display: flex;
	align-items: center;
}
.item-doc__icon {
	width: 35px;
	height: 35px;
	margin-right: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.06);
}
.item-doc:nth-child(odd) {
	background-color: rgba(202, 219, 227, 0.2);
}
.item-doc:first-child {
	border-top: 1px solid #414141;
}
.item-doc:hover {
	color: #065799;
}
.documents {
	padding-bottom: 190px;
}
.item-news {
	display: flex;
}
.item-news__image {
	height: 300px;
	display: block;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.item-news__date {
	padding-bottom: 13px;
	margin-bottom: 24px;
	padding-right: 13px;
	border-bottom: 1px solid #CADBE3;
	display: inline-block;
}
.item-news__title {
	font-size: 24px;
	line-height: 36px;
	color: #414141;
	font-weight: 500;
	display: block;
	text-transform: uppercase;
}
.item-news__title:hover {
	color: #065799;
}
.item-news .row {
	align-items: center;
}
.item-news {
	padding-bottom: 38px;
	margin-bottom: 38px;
	border-bottom: 1px solid #414141;
}
.news {
	padding-bottom: 38px;
}
.news .title-section {
	padding-bottom: 40px;
}
.news .pager {
	margin-top: 35px;
}
.article__left img {
	margin-bottom: 22px;
	max-width: 100%;
	height: auto;
	display: block;
}
.article__left time {
	margin-bottom: 16px;
	display: block;
}
.article__left h1 {
	font-size: 40px;
	line-height: 60px;
	margin-bottom: 34px;
	font-weight: 500;
	text-transform: uppercase;
}
.article__left p {
	margin-bottom: 20px;
}
.article__left h2 {
	font-size: 30px;
	line-height: 45px;
	margin-bottom: 35px;
	font-weight: 500;
}
.article__left b {
	font-weight: 500;
}
.article__left ol {
	margin: 0;
	padding-left: 15px;
}
.article__left ul li {
	padding-left: 15px;
	position: relative;
}
.article__left ul li::before {
	position: absolute;
	display: block;
	content: "•";
	top: 0;
	left: 0;
}
.article {
	padding-bottom: 110px;
}
.article-block {
	padding: 32px 50px;
	padding-right: 35px;
	margin: 34px 0;
	background-color: rgba(202, 219, 227, 0.2);
}
.article-block__value {
	font-size: 36px;
	line-height: 54px;
	font-weight: 700;
}
.article__left a {
	color: #065799;
	border-bottom: 1px solid #065799;
}
.article__left a:hover {
	border-color: transparent;
}
.unit-news {
	margin-bottom: 70px;
	max-width: 335px;
	color: #414141;
	display: block;
}
.unit-news:hover .unit-news__title {
	color: #065799;
}
.unit-news__image {
	height: 240px;
	margin-bottom: 20px;
	display: block;
	width: 100%;
}
.unit-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	-webkit-transition: all 0.3s; 
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.unit-news__date {
	margin-bottom: 20px;
	display: flex;
	align-items: flex-end;
}
.unit-news__date::after {
	position: relative;
	display: block;
	content: " ";
	margin-left: 17px;
	background-color: #CADBE3;
	flex: 1;
	height: 1px;
	top: -4px;
}
.unit-news__title {
	font-weight: 500;
	text-transform: uppercase;
	display: block;
	transition: all 0.3s;
}
#map {
	height: 890px;
	width: 100%;
	background-color: #ccc;
}
.contacts {
	padding-left: calc((100% - 1575px)/2);
	margin-right: 115px;
	background: rgba(202, 219, 227, 0.2);
}
.phone-big {
	font-size: 36px;
	line-height: 50px;
	font-weight: 500;
	color: #414141;
	display: inline-block;
}
.contacts .descr-page {
	margin-bottom: 33px;
	font-weight: 400;
}
.contacts .descr-page strong {
	font-weight: 500;
}
.contacts .title-page {
	margin-bottom: 24px;
}
.contacts .phone-big {
	margin-bottom: 50px;
}
.contacts-form {
	padding: 20px 50px;
	padding-bottom: 38px;
	margin-top: auto;
	background-color: #fff;
}
.contacts__left {
	display: flex;
	flex-direction: column;
}
.contacts-form .item-form {
	margin-bottom: 10px;
}
.contacts-form .btn-main {
	width: 324px;
	max-width: 100%;
}
.contacts-form .checkbox {
	margin-top: 35px;
}
.contacts-form .title-page {
	margin-bottom: 7px;
	text-align: center;
}
.contacts__row {
	margin: 0;
}
.contacts__row > div {
	padding: 0;
}